@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  place-content: center;
  background-color: rgb(88, 168, 88);
}

header h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: snow;
  margin-left: 10px;
}

footer {
  background-color: rgb(88, 168, 88);
  display: grid;
  place-content: center;
}

footer p {
  font-family: 'Times New Roman', Times, serif;
  color: azure;
  font-size: 20px;
}

.Header {
  background: rgb(100, 164, 88);
  height: 80px;
  padding: 5px 0;
  position: relative;
  z-index: 100;
  margin-bottom: 25px;
}

.HContainer {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  display: block;
  height: 50px;
  margin: 10px 40px 10px 0;
  float: left;
}

#Header_menu {
  height: 40px;
  float: left;
  display: block;
  margin: 15px 0;
}

.Header_menu-list {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding: 0;
  display: block;
}

.NavItem {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  position: relative;
}

.NavItem p {
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
}

#Header_MenuRight {
  float: right;
  padding: 15px 0;
  display: block;
}

.TypeExpand {
  background-color: rgb(100, 164, 88);
  color: #fff;
  padding-right: 7px;
}

.DropdownT {
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 150px;
  border-radius: 12px;
  background: #fff;
  z-index: 102;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.DropdownTypes {
  padding: 8px;
  text-align: left;
  list-style: none;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;
}

.DropdownTypes li {
  padding: 6px 10px;
  display: block;
  font-size: 14px;
  border-radius: 8px;
  color: #111;
  text-decoration: none !important;
  outline: 0;
  font-family: Poppins;
}

#SearchBar {
  width: 340px;
  margin: 0;
  margin-right: 15px;
  float: left;
  display: block;
}

.SearchContent {
  position: relative;
  display: block;
}

.SearchContent form {
  display: block;
  margin-top: 0em;
}

.form-control {
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  overflow: visible;
  position: relative;
}

.search-input {
  height: 40px;
  color: #111;
  padding-right: 0px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 400;
  background: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05) !important;
  font-size: 14px;
  font-family: Poppins;
}

.DropdownIcon {
  color: #fff;
}

.search-icon {
  width: 40px;
  height: 40px;
  background: 0 0;
  border: none;
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  color: #111;
  text-align: center;
  position: absolute;
  right: 0;
  top: -2px;
  z-index: 2;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: .5rem .8rem;
  box-shadow: none !important;
  outline: 0 !important;
  border: none !important;
}



.FeedItems {
  margin-top: 50px;
}

.Home{
  width: 100%;
    position: relative;
    margin: 0 auto;
}

.HomeFeedContainer {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

.booksContainer {
  margin: 20px 30px 20px 30px;
  display: flex;
  width: 100%;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  justify-content: center;
}

.Recommended {
  font-size: 28px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: flex-start;
  border-bottom: 2px solid yellowgreen;
}

.bookElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}

.BookInf {
  width: 200px;
}

.CoverH {
  width: 200px;
  height: 296px;
  display: flex;
  justify-content: center;
}

.TitleContainer {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 10px;
}

.Title {
  text-decoration: none;
  color: #111;
  font-size: 22px;
  margin: 0;
}

.Chapters {
  display: flex;
}

.GenresItem {
  font-size: 15px;
  color: #8f95aa;
  text-decoration: none;
  margin-top: 0;
}

.GenresItem:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
  /* Adjust as needed */
}

p {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

