/* .ReadingWrapper{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.ReadingHeader{
    position: fixed;
    background: #222!important;
    right: auto;
    bottom: 0;
    width: 260px;
    height: 100%;

    margin-bottom: 0;
    top: 0;
    left: 0;
    z-index: 103;
}

.ReadingContainer{
    padding: 0 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 1400px;
    width: 100%;
}

.ReadingLogo{
    width: 80%;
    margin: 15px 0 0;
    height: auto;
    float: none;
    display: block;
}


.Hr-line{
    float: none;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background: rgba(255,255,255,.1);
}

.RTitle{
    width: 100%;
    float: none;
    margin-bottom: 20px;
    display: block;
    height: auto;
    position: relative;
}

.Hr-title{
    transform: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-line-clamp: 4;
    font-size: 16px;
    line-height: 1.4em;

    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Hr-navigation{
    float: none;
    margin: 20px 0;
}

.ReadingOptions{
    display: initial;
}

.ReadingChapter{
    float: none;
    margin: 10px 0;
    width: 100%;
    height: auto;
    position: unset;
    line-height: 30px;
}

.ChapterButton{
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    overflow: visible;

    width: 100%;
    display: block;
    height: auto;
    padding: .25rem;
    font-size: 13px!important;
    background: #333;
    color: #fff;
}

.CurrentChap{
    border: none!important;
    height: 30px;
    background: #333;
    box-shadow: none!important;
    font-weight: 500;
    padding: 0 10px;
    line-height: 30px;
}

.DropDown_Menu{
    left: 260px!important;
    top: 0!important;
    bottom: 0!important;
    height: 100%!important;
    max-height: none!important;
    box-shadow: none!important;
    position: absolute!important;
    margin: 0;
    background: #eee;
    transform: none!important;
    min-width: auto;
    width: 100%;
}

.DropDown_Chapters{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.rt-item{
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin-right: 10px;
}

.RChapterList_hidden{

}

.RChapterList_search{
    border-top: none;
    margin-bottom: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.15);
    position: relative;
    z-index: 9;
    background: #eee;
    padding: 10px;
}

.RChapterList_s{
    width: 100%;
    float: none;
    position: relative;
}

.Reading_SearchForm{
    display: block;
    margin-top: 0em;
}

.RSearch_icon{
    font-size: 12px;
    left: 10px;
    top: 0;
    bottom: 0;
    line-height: 32px;
    position: absolute;
}

.RInput_Form{
    height: 32px;
    font-size: 13px;
    padding-left: 35px;
    box-shadow: none!important;
    border-radius: 3px;
    border: none!important;
    background: #eee!important;
    padding: .75rem 1.25rem;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    overflow: visible;
}

.RChapterList_UL{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 52px;
    max-height: none;
}

.UlReadingList{
    padding: 0;
    max-height: 100%;
    margin: 0;
    list-style: none;
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.RChapterItem{
    width: 100%;
    margin: 0 0 1px 0;
    float: left;
    display: block;
    font-size: 12px;
    list-style: none;
}

.Item_link{
    padding-left: 30px;
    padding: 3px 15px;
    font-size: 12px;
    display: block;
    position: relative;
    border-radius: 0;
    background: #f5f5f5;
}

.Item_name{
    font-weight: 500;
    font-size: 13px;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.R_leftNav{

}

.R_rightNav{
    float: left;
    width: calc(50% - 7.5px);
    margin: 10px 0;
    height: auto;
}

.L_next{
    background: #444!important;
    color: #fff!important;

    width: 100%;
    display: block;
    height: auto;
    padding: .25rem;
    font-size: 13px!important;
    box-shadow: none!important;
    border: none!important;
}

.Text_content{
    width: 1236px;
    margin-left: 220px;
}

.Text_wrapper{
    min-height: calc(100vh - 434px);
    padding-bottom: 0!important;
}

.Text_container{
    max-width: 1400px;
    width: 100%;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

#vertical_content{
    padding-top: 20px;
    transform-origin: top;
}

.Paragraphs{
    margin: 0 0 20px;
    word-wrap: break-word;
    display: block;
}

 */


 #MainPart{
    min-height: 345px;
    background-color: #eae4d3;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
    display: block;
 }

 #rd-side_icon{
    background-color: #eae4d3;
    border: 1px solid #ccc;
    border-radius: 4px;
    bottom: 30px;
    cursor: pointer;
    font-weight: 700;
    opacity: 1;
    position: fixed;
    right: 30px;
    z-index: 9999;
    display: block!important;
 }

 .Previous, .Return_Home, .NextB, .List_Info{
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding: 16px 20px;
    color: inherit;
 }

 .faLeft_arrow, .HouseIcon, .faRight_arrow, .List_Icon{
    text-align: center;
    width: 20px;
    font-weight: 900;

    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
 }


 #RChapter_list{
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 999;
    z-index: -1;
    display: block;
 }

 .Toggle_body{
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: block;
 }

 .rd_sidebar-header{
    background-color: #050300;
    width: 100%;
 }

 .rd_sidebar-name{
    color: #fff;
    margin: 0;
    padding: 10px 0;
    width: 100%;
 }

 .Sub_list{
    font-size: 14px;
    margin: 0;
    padding: 12px 12px 80px;
 }

 .Chapter_UList{
    margin: 0;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    padding: 0;
 }

 .Chapter_Li{
    margin: 6px 0;
 }

 .L_element{
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 6px 10px;
    position: relative;
 }

 .rd-Container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
 }

 .rd-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
 }

 .rd-readingContent{
    word-wrap: break-word;
    line-height: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    max-width: 83.33333333%;
    width: 100%;
 }

 .rd-chapterTitle{
    padding-top: 20px;
 }

 .rd-chapterName{
    line-height: 1.5em;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
 }

 #rd-chapterContent{
    padding-left: 0px;
    padding-right: 0px;
    font-family: Times New Roman,Georgia,serif;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    text-align: justify!important;
 }

 .paragraph{
    margin: 0 0 15px;
    word-wrap: break-word;
    display: block;
 }

